@import './poppins.font.css';

:root{
    --light-gray: #e9e9e9;
    --gray: #daebf7;
    --dark-gray: #a9a9a9;
    --brown: #59595b;
    --yellow: #ffeb00;
    --blue: #5595d1;

    --shadow: -14px 14px 15px 0px rgba(0,0,0,0.1);
}

html {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.ado{
    background-image: url('../images/casa_em_construcao.webp');
}

.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   background: radial-gradient(farthest-side,#ffeb00 94%,#0000) top/9px 9px no-repeat,
                conic-gradient(#0000 30%,#ffeb00);
                -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
   animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
   100% {
      transform: rotate(1turn);
   }
}
